
html,body, span, div, p, td,a,ul,li,img,dd,dl,dt,form{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
summary,details,header,section,footer,hgroup,nav,mark,embed,datalist,article,canvas,time{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
h1,h2,h3,h4,h5{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
input{margin: 0px;padding: 0px;}
iframe{ padding:0;margin:0;border:0;}
body{    
    line-height:1.5;/* 统一 line-height */
    padding-bottom: 1px;
}
textarea,input,select,body,button{
    /* 默认字体 */
    font-size: 12px;
    position: relative;
    font-family : verdana,"微软雅黑","宋体","細明體", "新細明體", "標楷體",'Lucida Grande','Lucida Sans Unicode',arial,sans-serif;
}
button{
    cursor:pointer;
    line-height:1.1;
}

input[type=checkbox] {
    cursor: pointer;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}


